* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

.wrapper {
    height: 100vh;
    width: 100vw;  
}


.container-left {
    display: inline-block;
    width: 65%;
    margin-top: 15%;
    padding-left: 113px;
}

.container-right {
    display: inline-block;
    background-color: rgba(93,93,125,0.16);
    height: 100vh;
    width: 35%;
    position: absolute;
}

img {
    width: 300px;
    height: auto;
    position: relative;
    top: 17%;
    right: 90px;
}

h1 {
    font-size: 40px;
    line-height: 55px;
    width: 250px;
    height: 110px;
    color: #5D5D7D;
}

p {
    font-size: 16px;
    line-height: 35px;
    width: 480px;
    height: 115px;
    color: rgba(93, 93, 125, 0.6);
    margin: 15px 0;
    text-align: justify;
}

button {
    width: 180px;
    height: 50px;
    color: white;
    font-size: 17px;
    background-color: #9499EA;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

header a {
    width: 59px;
    height: 41px;
    font-size: 18px;
    margin-right: 45px;
    color: #5D5D7D;
    cursor: pointer;
}

a:nth-child(2) {
    opacity: 0.4;
}

a:hover {
    opacity: 0.4;
}

a:active {
    opacity: 0.8;
}

header {
    margin: 25px 0 0 70px;
}

@media screen and (max-width: 1075px) {
    .container-left {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .container-right {
        display: block;
        width: 100%;
        height: 50%;
        padding-top: 17%;
        position: static;
    }

    img {
        width: 250px;
        height: auto;
        position: static;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    header {
        display: none;
    }

    h1 {
        font-size: 40px;
        line-height: 70px;
        width: 250;
        height: auto;
        text-align: center;
        margin: 72px auto 0 auto;
        
    }

    p {
        width: 300px;
        margin: 15px 40px;
        font-size: 13px;
        line-height: 25px;
        text-align: center;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    button {
        display: block;
        margin: 0 auto;
        width: 230px;

    }
}